<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="143128443691-2php9cqdt9vg54adrv8semue680hnkte.apps.googleusercontent.com">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">